// variables 
$nav_bcg_color : rgba(0,0,0,0.8);

.nav_main {
    background-color: $nav_bcg_color;
    padding : 10px;
    display: flex;
    justify-content: space-between;

    .nav_button_line {
        height : 1px;
        width : 20px;
        background-color: white;
        
        &:nth-child(1) {
            margin-bottom: 5px;
        }
    }

    .nav_button {
        background-color: transparent;
        border: none;
    }
}